.master-body .meta-profile {
    font-family: "OpenSans", sans-serif;
    margin: 0 0 2.5em 0;
}
.ui.floated.image, .ui.floated.images {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
.ui.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: rgba(0,0,0,0.05);
}
a {
    text-decoration: none;
    color: #00b5ad;
}
.ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.image img, .ui.avatar.image {
    margin-right: 0.5em;
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 500rem;
}
.master-body .meta-profile .bigger.avatar, .master-body .meta-profile .bigger.avatar img {
    width: 6em;
    height: 6em;
}

.master-body .meta-profile .right.floated .name h2 {
    font-family: "Montserrat";
    padding-top: .5em;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lazy {
    width : 6em;
    height : 6em;
}